<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836143122226-ruemok43r7foil0t0thr34jcjc21dank.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836143122226-ruemok43r7foil0t0thr34jcjc21dank</string>
	<key>API_KEY</key>
	<string>AIzaSyCrEz2P4G0dfEwsXNZzlWc_CJep6vRzrso</string>
	<key>GCM_SENDER_ID</key>
	<string>836143122226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-74072</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-74072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836143122226:ios:d8873119fd31b6aa2c392b</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-74072.firebaseio.com</string>
</dict>
</plist>